# ignore environment
.env

# ignore vendor dependencies
vendor/

# ignore IDE
.vscode/
.idea/

# ignore system junk
.DS_Store
Thumbs.db

# ignore logs
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

# ignore session cache
writable/session/*
!writable/session/index.html
